#form {
	padding:250px 0px;
}


.random-search{
	font-size:18px;
	text-decoration: none;
	color: steelblue
}

#search-bar{

	border:5px solid chocolate;
	border-radius:50px;
	padding:15px 10px;
	width:250px;
	margin:20px auto;
	opacity:0;
	background-color:#092b40;
	color:white
}

#search-icon {
	display:block;
	color:chocolate;
	font-size:40px;
	opacity:1;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin-top:300px;
}

.cancel-icon {
    opacity: 0
}
.cancel1, .cancel2 {
	position: absolute;
	width: 20px;
    height: 5px;
    background-color: red;
    margin-top:-43px;
    margin-left: 90px;
}
.cancel1 {
	-ms-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}
.cancel2 {
	-ms-transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

/********** For Laptops *************
@media screen and (min-width: 1200px) and (max-width: 1600px){
		#search-bar{
			margin-left:90px;
		}

		.random-search{
			font-size:18px;
			text-decoration: none;
			color: steelblue
		}
}

/********** For Tablets landscape and portrait mode ************
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#search-bar{
			margin-left:100px;
		}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	#search-bar{
			margin-left:50px;
		}
}

/********** For Phones landscape and portrait mode *************

@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: landscape) {
	#search-bar{
			margin-left:160px;
		}
}

@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
	#search-bar{
			margin-left:30px;
		}
}
*/