#itemDiv{
    background-color: lavender;
    padding: 10px 30px;
    margin: 10px auto;
    text-align: justify
  }

#itemDiv:hover{
  border-left: 10px solid orange;
  transition: border 0.3s;
}
#linkDec {
  color: black;
  text-decoration: none;
}

#itemDiv h3 {
  color:orange;
}

  /********** For Phones landscape and portrait mode *************/

  @media screen and (min-width: 320px) and (max-width: 640px){
  	#itemDiv {
  		padding:1px 5px;
  	}
  	#itemDiv h3 {
  		color:orange;
  		font-size: 18px;
  	}
  	#itemDiv p {
  		font-size: 12px;
  	}
  }